body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

#wrapper {
    margin: 0 auto;
    width: 1050px;
}

#headerwrap {
    width: 1050px;
    float: left;
    margin: 0 auto;
}

#header {
    background: #A9AA78;
    border-radius: 10px;
    border: 1px solid #959664;
    margin: 5px;
	font-size: 25px;
    padding-left: 10px;
}

#contentwrap {
    width: 900px;
    float: left;
    margin: 0 auto;
}

#content {
    background: #F0F0CC;
    border-radius: 10px;
    border: 1px solid #dcdcb8;
    margin: 5px;
    padding: 10px;
}

#leftcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#leftcolumn {
    background: #A9AA78;
    border-radius: 10px;
    border: 1px solid #959664;
    margin: 5px;
    padding: 10px;
}

a:link {
	color: #39390F;
}

a:visited {
	color: #39390F;
}

table {
    width: 100%;
}

tr:nth-child(even) {background: #FFFFFC}
/*tr:nth-child(odd) {background: #FFFFFC}*/

input[type="submit"] {
    margin-left: 5px;
}